* {
  box-sizing: border-box;
}

body {
  font-family: 'times_dotroman', serif;
  font-size:5rem;
  line-height: 4.5rem;
  background:#AFD3F8;

  /* margin:1rem; */
  /* background:lightyellow; */
  /* background:white; */
  hyphens: auto;
  white-space: normal;
  word-wrap: break-word;
  opacity:0;
  transition:background 2s ease-in-out, opacity 2s ease-in-out;
  /* color:rgb(230, 227, 212); */
  overflow-x: hidden;
}

img {
  max-width: 30vw;
}

a {
  color:white;
  text-decoration: underline;
  transition: color .3s ease;
}

a:hover {
  color:black;
}

.bold {
  font-weight: bold;
}

.mobile-check {
  display: none;
}

.main-wrap {
  display:flex;
  /* flex-direction: column; */
  position: relative;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:100vh;
  background:white;
  text-align: center;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* margin-bottom: 30vh; */
  transition:background 2s ease-in-out;
  /* border-bottom:1px solid black; */
  box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.25);
}

.logo {
  max-width: 100%;
  height:3rem;
}

.title {
  position: absolute;
  top:2rem;
  z-index: 1;
  text-align: center;
  width:100%;
}

.mobile-title {
  display: none;
}

.plus {
  position: absolute;
  /* text-align: center; */
  width:100%;
  font-family: 'times_dotroman', serif;
  font-size: 5rem;
  /* -webkit-transform: translateX(2rem); */
  /* left:50%; */

}

.left {
  /* text-align: right; */
  /* right:-1.5rem;
  top:2.65rem; */
  left:50%;
}

.right {
  /* text-align: left; */
  /* left:-1.3rem; */
  left:-50%;
}

.split {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:2rem;
  width:50%;
  height:100%;
  /* cursor:pointer; */
  position: relative;
  hyphens: none;
  overflow: hidden;
}

.split::after {
  background:black;
  transition: background .3s ease;
  opacity: .9;
  position: absolute;
  height:100%;
  width:50vw;
  top:0;
  left:0;
  mix-blend-mode: exclusion;
  content: '';
}

.hover.split::after {
  background:rgb(216, 236, 227);
}

.split-hover-mobile.hover .split::after {
  background:rgb(216, 236, 227);
}

.split-hover-mobile {
  color:black;
  text-decoration: none;
}

.saki-mobile:hover {
  color:white;
}

.split img {
  max-width: 20vw;
  /* max-height: 35vh; */
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.split1 {
  transition:background 2s ease-in-out;
  font-family: 'zhakataregular', serif;
  font-size: 5.4rem;
  background:black;
  color: #73F84B;
}

.split2 {
  font-family: 'times_dotroman', serif;
  transition:background 2s ease-in-out;
}

.laurel-name {
  height:100%;
  display: flex;
  align-items: flex-end;
}

.smaller {
  font-size: 2rem;
  line-height: 2rem;
}

.even-smaller {
  font-size: 1rem;
  transform: translateY(2rem);
  position: relative;
  bottom:.21rem;
  /* left:; */
}

.greensquare {
  width:40vw;
  height:40vh;
  background: #228B23;
}


.context {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  bottom:0;
  font-size: 1.3rem;
  line-height: 1.6rem;
  /* z-index: 0; */
  /* width:50%; */
  /* text-align: center; */
  font-family: 'IBM Plex Sans', sans-serif;
  /* margin-top: 110vh; */
  opacity: 0;
  transition: opacity 1s ease;
  margin:2.5rem 0;
}

.con-split {
  /* padding:1.5rem; */
  width:100%;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  flex-direction: column;
  /* margin-bottom: 2.5rem; */
}

.con-split:first-of-type {
  padding-right: .5rem;
  padding-left:2.5rem;
}

.con-split:last-of-type {
  padding-right:2.5rem;
  padding-left: .5rem;
}

.con-segment{
  /* padding:0 2.5rem; */
  margin-top:1rem;
  width:100%;
}

.con-segment:first-of-type {
  margin-top:0;
}

.con-title {
  font-family: 'zhakataregular', serif;
  font-size: 3rem;
  line-height: 2.8rem;
  padding-bottom:1rem;
  text-align: center;
  font-weight: bolder;
}

.con-sub {
  text-align: center;
  font-weight: bolder;
}

.con-link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  flex-direction: column;
}

.con-credit {
  /* background:green; */
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;
  /* font-family: monospace; */
}

.con-btn {
  padding:2rem;
  background:black;
  border-radius: 1rem;
  text-decoration: none;
  color:white;
  transition: background .3s ease, color .3s ease;
  cursor: pointer;
  text-align: center;
  margin:.5rem;
  /* box-shadow: 0px 0px 15px -2px white; */
}

.con-btn:hover {
  background:white;
  color:black;
  /* box-shadow: 0px 0px 15px -2px black; */
}

.con-btn.inactive:hover {
  background:red;
  cursor:not-allowed;
}

.split-hover-mobile {
  display: none;
}


.back-btn {
  background:lightgreen;
  /* color:white; */
  /* opacity: .7; */
  /* position: fixed; */
  position: absolute;
  height:100%;
  width:2.5rem;
  /* z-index: 3; */
  top:0;
  left:0;
  transition: background 2s ease-in-out;
  z-index: 99;
  /* mix-blend-mode: exclusion; */
  /* isolation: isolate; */
  /* height:3rem;
  width:100%;
  top:0;
  left:0; */
  box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.27);
}

.back-right {
  right:0;
  left: auto;
}

.back-btn::after {
  background:black;
  transition: background .3s ease;
  /* opacity: .9; */
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  mix-blend-mode: exclusion;
  content: '';
}

.back-btn:hover::after {
  background:rgb(216, 236, 227);
}

.credit-wrap {
  display: flex;
  flex-direction: column;
}

.credit-wrap div {
  margin-bottom: .3rem;
}

.gdes-logo {
  /* margin-bottom: .5rem; */
  margin-top: .5rem;
  display: block;
  background: black;
  width:50px;
  height:50px;
  /* position: absolute;
  right:0;
  top:0; */
  transition: background .3s ease;
}

.gdes-logo:hover {
  /* background:white; */
}

.gdes-logo:hover path{
  /* fill:black; */
}

.gdes-logo svg{
  max-width:50px;
  max-height:50px;
}

.gdes-logo path {

  transition: fill .3s ease;
}

.logo {
  /* height:50px; */
  display: inline-block;
}

.logos {
  margin-top: .5rem;
}

@font-face {
  font-family: 'times_dotroman';
  src: url('../fonts/timesdotrom-webfont.woff2') format('woff2'),
    url('../fonts/timesdotrom-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'times_dotbold';
  src: url('../fonts/timesdotbol-webfont.woff2') format('woff2'),
    url('../fonts/timesdotbol-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'times_dotitalic';
  src: url('../fonts/times_dot-italic-webfont.woff2') format('woff2'),
    url('../fonts/times_dot-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'zhakataregular';
    src: url('../fonts/zhakata-webfont.woff2') format('woff2'),
         url('../fonts/zhakata-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes fade {
  0% {opacity:0;}
  10% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:0;}
}


@media (max-width:900px) {
  body {
    /* font-size: 3rem; */
    /* line-height: 3.5rem; */
  }

  .mobile-check {
    display:block;
  }

  .mobile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:2rem;
    /* height:20%; */
  }

  .split-hover-mobile {
    display: flex;
  }

  .split-desk {
    display: none;
  }

  .segment {
    width:100%;
  }

  .main-wrap {
    flex-direction: column;
    position: relative;
    height:80vh;
    margin-bottom: none;
  }

  .split {
    padding:2rem;
    width:100%;
    height:50%;
    justify-content: center;
    /* align-items: center; */
  }

  .split::after {
    height:100%;
    width:100vw;
  }

  .split img {
    position: relative;
    display:none;
  }

  .context {
    position: relative;
    flex-direction: column;
    width:100%;
    text-align: left;
    margin:2rem 0;
  }

  .con-split {
    flex-direction: column;
    text-align: left;
  }

  .con-split:first-of-type {
    padding-right: 0;
    padding-left:0;
    padding: 0 1rem;
  }

  .con-split:last-of-type {
    padding-right:0;
    padding-left: 0;
    padding: 0 1rem;

  }

  .mobile-hide {
    display: none;
  }

  .desk-title {
    display: none;
  }

  .plus {
    display: none;
  }

  .back-btn {
    position: fixed;
    height:3rem;
    width:100%;
    top:0;
    left:0;
  }

  .logos {
    margin-top: 2rem;
    text-align: center;
  }
}

@media (min-width:1700px) {
  body {
    font-size: 7rem;
    line-height: 5.7rem;
  }

  .split1 {
    font-size: 7.5rem;
    /* line-height: 2.8rem; */
  }
}

@media (max-width:420px) {
  body {
    font-size: 3rem;
    line-height: 2.8rem;
  }

  .split1 {
    font-size: 3.4rem;
    /* line-height: 2.8rem; */
  }

  .smaller {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .even-smaller {
    font-size: .8rem;
    bottom:.14rem;
    /* left:; */
  }
}
